{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Chery Automobile Co. Ltd., trading as Chery (Chinese: 奇瑞; pinyin: Qíruì), is a Chinese state-owned automobile manufacturer headquartered in Wuhu, Anhui, China. Founded in 1997, it is currently the ninth largest automobile manufacturer in China, with 1,232,727 vehicles produced in 2022.</p>
        <button class=”btn btn-danger”>Просто нажми</button>
    </div>
{% endblock %}